# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/

# Test reports
allure-results/
allure-report/
htmlcov/
.coverage
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# WebDriver
chromedriver.exe
geckodriver.exe